name: Backend CI/CD

on:
  push:
    branches: [ "main" ]
    paths:
      - 'backend/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build backend
        run: |
          chmod +x ./gradlew
          ./gradlew clean build --exclude-task test

      - name: Package backend with Procfile
        run: |
          cp Procfile build/libs/
          cd build/libs
          zip -r backend-package.zip backend-0.0.1-SNAPSHOT.jar Procfile

      - name: Deploy to Elastic Beanstalk
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
          aws_secret_key: ${{ secrets.AWS_SECRET_KEY }}
          application_name: "interbit-app"
          environment_name: "Interbit-app-env"
          region: "ap-northeast-2"
          version_label: github-${{ github.sha }}
          deployment_package: backend/build/libs/backend-package.zip
